In [2]:
import pandas as pd

1. Lea y cargue el dataset Social_Network_Ads.csv

In [17]:
df = pd.read_csv("Social_Network_Ads.csv")

2. ¿Cuánta memoria ocupa este dataset?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

3. Calcule las estadísticas descriptivas básicas de todas las variables nuéricas

In [5]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

4. ¿Cuál es la dimensión del dataset?

In [6]:
df.shape

(400, 3)

5. ¿Tiene el dataset datos nulos?

In [7]:
df.isna().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

6. Diga la cantidad de personas que compraron y no compraron en la campaña

In [8]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

7. Calcule el promedio del salario de las personas que tengan entre 18 y 28 años

In [9]:
df[(df['Age']>=18) & (df['Age']<=28)]['EstimatedSalary'].mean()

58688.88888888889

8. ¿Qué edad tiene la persona que más gana?

In [10]:
df[df['EstimatedSalary'] == df['EstimatedSalary'].max()]['Age']

7      32
211    52
Name: Age, dtype: int64

9. ¿Qué edad tiene la persona que menos gana?

In [11]:
df[df['EstimatedSalary'] == df['EstimatedSalary'].min()]['Age']

43     30
92     26
150    26
155    31
Name: Age, dtype: int64

10. Cambie el nombre de la columna 'EstimatedSalary' a 'Salary'

In [12]:
df.rename(columns={'EstimatedSalary': 'Salary'},inplace = True)
df.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

11. Ordene los datos de mayor a menor según la columna Salary. Pista: Usar el método sort_values de la librería pandas

In [13]:
df.sort_values(by="Salary",inplace=True)
df.head()

     Age  Salary  Purchased
92    26   15000          0
43    30   15000          0
155   31   15000          0
150   26   15000          0
32    21   16000          0

12. Borre del dataframe las personas que tienen 18 años

In [15]:
df.drop(df[df['Age']==18].index,inplace=True)
df.head()

     Age  Salary  Purchased
92    26   15000          0
43    30   15000          0
155   31   15000          0
150   26   15000          0
32    21   16000          0

In [18]:
df[df['Age']==18].index

Int64Index([14, 51, 76, 141, 165], dtype='int64')